.bio-page .tiles-container {
  max-width: 500px;
  min-width: none;
  width: 60vw;
  height: 65vh;
}

.bio-page .color-rect {
  top: calc(-24px - 0.4vw);
  margin-left: calc(38px + 2vw);
}

.bio-page p {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .bio-page .tiles-container {
    margin-top: 15px;
    width: 70vw;
    height: 80vh;
  }

  .bio-page p {
    font-size: 11.5px;
  }
}
