@font-face {
  font-family: arial black;
  src: url(../ariblk.ttf);
}

ul {
  padding-inline-start: 0px;
}

* {
  font-family: arial black;
  color: "white";
  margin: 0;
}

main {
  min-width: 360px;
}

::selection {
  background: #7fe1ce; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #7fe1ce; /* Gecko Browsers */
}

:root {
  font-size: 24px;
  --backgroundColor: rgba(255, 255, 255);
  --squareColor: rgba(0, 0, 0, 1);
  --squareSize: 11px;
}

body {
  overflow-x: hidden;
}

.tiles-container {
  justify-content: center;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  position: absolute;
}

.home-button {
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.home-button:hover {
  color: #fe0879;
}

.night-filter {
  background-image: linear-gradient(
    145deg,
    rgba(17, 0, 84, 0.7),
    rgba(149, 0, 15, 0.7)
  );
}

.color-rect {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: calc(-20px - 0.4vw);
  margin-left: calc(22px + 2vw);
  background: linear-gradient(
    #ffaa41,
    #ff6911,
    #d52379,
    #2a86ff,
    #ffaa41,
    #ff6911,
    #ff7474,
    #ffadad,
    #ffaa41,
    #ff6911
  );
  background-size: 600% 600%;
  animation: Animation 80s linear infinite;
}

@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.checkers-bg-container {
  overflow: hidden;
}

.checkers-bg {
  width: 100vw;
  height: 200vw;
  background-color: var(--backgroundColor);
  background-image: linear-gradient(
      45deg,
      var(--squareColor) 25%,
      transparent 25%
    ),
    linear-gradient(135deg, var(--squareColor) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--squareColor) 75%),
    linear-gradient(135deg, transparent 75%, var(--squareColor) 75%);
  background-position: 0 0, var(--squareSize) 0,
    var(--squareSize) calc(-1 * var(--squareSize)),
    0 calc(-1 * var(--squareSize));
  background-size: calc(2 * var(--squareSize)) calc(2 * var(--squareSize));
  animation: slide 1s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-44px); /* The image width */
  }
}

.sky-background {
  background: linear-gradient(#0068f1, #e1d0e0);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1000000;
}

@keyframes slide2 {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translate(-65%);
  }

  100% {
    transform: translate(0%);
  }
}
