.jg-logo {
  color: white;
  z-index: 10020;
  font-size: 34px;
  letter-spacing: 1.2px;
  align-self: flex-end;
  margin-left: 55px;
  transition: all 1s;
}

.home {
  overflow: hidden;
  font-family: arial black;
}

.home .tiles-container {
  max-width: 259px;
  width: 80vw;
  height: 65vh;
  transition: all 1s;
}

.socials li {
  margin-right: 20px;
  -webkit-tap-highlight-color: transparent;
}

.list-container {
  z-index: 1000;
  color: white;
  text-align: right;
  margin-top: 19vh;
  margin-right: -25px;
  align-self: flex-end;
  transition: all 1s;
}

.list-container li {
  font-size: 29px;
  transition: all 0.1s;
}

li {
  list-style: none;
  margin-top: -6px;
  cursor: pointer;
}

.socials-container {
  padding-left: 2vw;
  bottom: 10px;
  width: 100vw;
  color: white;
  position: absolute;
  transition: transform 1s;
  left: 0%;
  transform: translateX(-0%);
  display: flex;
  align-items: center;
  height: 100px;
}

.socials-container ul {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials li {
  transition: all 0.1s;
  font-size: 35px;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .list-container li:hover {
    font-size: 33px;
    color: rgb(175, 255, 255);
  }

  .socials li:hover {
    font-size: 45px;
    color: rgb(175, 255, 255);
  }
}

@media screen and (max-width: 768px) {
  /* mobile */
  .list-container li {
    font-size: 35px;
    transition: all 0.1s;
    margin-top: 0px;
  }

  @media (hover: hover) and (pointer: fine) {
    .list-container li:hover {
      font-size: 38px;
    }
    .socials li:hover {
      font-size: 46px;
    }
  }

  .socials-container {
    justify-content: center;
  }

  .jg-logo {
    font-size: 40px;
    margin-left: 10px;
  }

  .home .tiles-container {
    max-width: 280px;
    height: 64vh;
    margin-top: -20px;
    margin-left: -30px;
  }

  .list-container {
    margin-top: 10vh;
    margin-right: -35px;
    align-self: flex-end;
  }

  .home .color-rect {
    top: calc(-26px - 0.4vw);
    margin-left: calc(36px + 3vw);
  }

  .socials-container {
    left: 50%;
    transform: translateX(-50%);
  }

  .socials {
    justify-content: space-evenly;
  }

  .socials li {
    font-size: 40px;
    transition: all 0.1s;
  }
}
