.listen-container {
  justify-content: center;
  display: flex;
  max-width: 333px;
  max-height: 333px;
  width: 45vw;
  height: 45vw;
}

.listen-page {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 1000px;
  padding: 0px 100px 200px 100px;
  font-family: arial black;
}

.listen-page img {
  top: -13px;
  max-width: 333px;
  max-height: 333px;
  transition: all 0.3s;
}

.listen-item:nth-of-type(even) img {
  margin-left: 30px;
}

.listen-item:nth-of-type(odd) img {
  margin-right: 30px;
}

@media (hover: hover) and (pointer: fine) {
  .listen-page :nth-child(even).listen-item img:hover {
    top: -19px;
    margin-left: 35px;
  }

  .listen-page :nth-child(odd).listen-item img:hover {
    top: -19px;
    margin-right: 35px;
  }
}

.listen-item {
  position: relative;
  display: flex;
  margin-top: 50px;
  margin-bottom: calc(350px - (1vw * 35));
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.listen-item :hover {
  color: #fe0879;
}

.listen-page :nth-child(even).listen-item {
  justify-content: right;
  flex-direction: row;
}

.listen-page :nth-child(even).listen-item p {
  margin-right: 10px;
}

.listen-page :nth-child(odd).listen-item p {
  margin-left: 10px;
}

.text-side {
  text-transform: uppercase;
  font-size: calc(8px + 1.4vw);
  margin-bottom: 20px;
  width: 100%;
  transition: font-size 0.1s;
  display: table-caption;
  text-align: right;
}

.listen-page :nth-child(even).listen-item p {
  display: table-caption;
  text-align: right;
}

.listen-page :nth-child(odd).listen-item p {
  text-align: left;
}

@media (hover: hover) and (pointer: fine) {
  .text-side:hover {
    font-size: calc(8.5px + 1.4vw);
  }
}

@media screen and (max-width: 850px) {
  .listen-item {
    margin-bottom: calc(350px - (1vw * 38));
  }
}

@media screen and (max-width: 768px) {
  .listen-item {
    margin-bottom: 50px;
  }
  .listen-page {
    padding: 0 40px 0 40px;
  }
}

@media screen and (min-width: 1300px) {
  .listen-item {
    margin-bottom: -130px;
  }

  .text-side {
    font-size: 25px;
  }
}
