@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.tour-page {
  font-family: Archivo Black !important;
  text-transform: uppercase;
}

.tour-page .tiles-container {
  margin-top: 60px;
  height: 80vh;
  width: 50vw;
  transition: width 0.2s;
}

.custom-scroll {
  height: inherit;
  overflow: scroll;
}

.custom-scroll::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff43;
}

@media screen and (max-width: 768px) {
  .tour-page .tiles-container {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .tour-page .tiles-container {
    height: 74vh;
  }
}
